# Electron
dist-electron
dist-ts

public/*.xlsx
public/*/*.xlsx

tests/*.js
tests/*.d.ts
tests/*/*.js
tests/*/*.d.ts

electron/*.js
electron/*.d.ts
electron/*/*.d.ts
electron/*/*.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
