@import "tailwindcss";

@theme {
    --color-white: #fef0c6;
    --color-white-accent: #fddc87;

    --color-black: #210501;
    --color-accent: #7ec4ca;
    --color-secondary: #ffc55c;

    --color-green: #76ccb6;
    --color-orange: #e48329;
}

html, body, #root {
  height: 100%;
}

*::selection {
    background-color: #8cbfb390;
    color: #000;
}

@layer components {
    .btn-disabled {
        @apply cursor-default pointer-events-none select-none opacity-50;
    }

    .btn {
        @apply px-4 pb-px bg-accent rounded shadow-xs transition-all duration-100 ease-in hover:shadow-sm hover:bg-[#5bb8c6] border-b-2 border-r-2;
    }

    .btn-icon {
        @apply py-1 flex justify-center items-center;
    }

    .card {
        @apply bg-white rounded p-4 shadow-sm;
    }

    .card-secondary {
        @apply bg-white/85 self-end;
    }
}

.scroll_custom {
    overflow-y: auto;
    height: 1000px;
}

.scroll_custom::-webkit-scrollbar {
    width: 20px;
}
.scroll_custom::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}
.scroll_custom::-webkit-scrollbar-thumb {
    background-color: #8bd3dd;
    border-radius: 6px;
    border: 1px solid #232e33cd;
    background-clip: content-box;
    min-width: 25px;
    min-height: 30px;
}
.scroll_custom::-webkit-scrollbar-thumb:hover {
    background-color: #8cbfb3;
}
.scroll_custom::-webkit-scrollbar-track {
    background-color: rgb(234, 233, 225);
}
